.app-header {
  background-color: #263238;
  height: 60px;
  line-height: 60px;
  margin: 0px;
  padding: 0px;
  /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #263238; 
    height: 60px;*/
}
.header-logo-text {
  color: #fff;
  font-size: 18px;
  line-height: 60px;
  vertical-align: center;
  padding-left: 10px;
}
.MuiMenu-list {
  background-color: #c0c0c0;
  color: red;
}
.logo {
  color: #fff;
  font-size: 18px;
  float: left;
  line-height: 60px;
}
